
:root {
	--title-font: 'MedievalSharp', cursive;
	--text-font: 'Almendra', serif;;
}

body {
	margin: 0;
	font-size: 18px;
	background-color: skyblue;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

.custom-box{
	max-width: 700px;
	background-color: #C4A484;
	margin: 40px auto;
	padding: 30px;
	border-radius: 10%;
	font-family: var(--text-font);
	color: black;
	font-weight: 650;
	border-color: beige;
	border-style: double;
	border-width: 25px;
}

h1,
h2,
h3,
h4 {
	font-family: var(--title-font);
	text-align: center;
	text-decoration: underline;
	padding-bottom: 10px;
	color: #722F37;
}

/* p {
	font-weight: font-weight: 650;
} */