/* Root settings for multiple uses within entire web application -------------------------------------------------- */
:root {
	--title-font: 'MedievalSharp', cursive;
	--text-font: 'Almendra', serif;
	--btn-text: hsl(0, 0%, 100%);
	--btn-background: hsl(360, 91%, 36%);
}

/* Home page and foundational settings for entire web application ----------------------------------------------------------*/
body {
	margin: 0;
	font-size: 22px;
	background-color: skyblue;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

.custom-box{
	max-width: 700px;
	background-color: #C4A484;
	margin: 40px auto;
	padding: 15px 40px 15px 40px;
	border-radius: 10%;
	font-family: var(--text-font);
	color: black;
	font-weight: 600;
	border-color: beige;
	border-style: double;
	border-width: 25px;
}

.custom-box.hide {
	display: none;
}

h1,
h2,
h3,
h4 {
	font-family: var(--title-font);
	text-align: center;
	text-decoration: underline;
	padding-bottom: 10px;
	color: #FDEE73;
	text-shadow: 2px 2px #ff0000;
}

/* .home-box .top-p {
	text-indent: center;
	padding-bottom: 10px;
} */

.home-box .instructions {
	padding-top: 15px;
}

p.wizard {
	text-align: center;
	margin: 8px;
	border-bottom: 1px solid black;
	padding-bottom: 15px;
	line-height: 30px;
}

.btn-container {
text-align: center;
margin: 0;
}

/* .home-box .btn {
	text-align: center;
} */

.btn {
	border: none;
  background-color: var(--btn-background);
  border-radius: 25px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px; */
  color: var(--btn-text);
  /* display: inline-block; */
  font-size: 22px;
  line-height: 20px;
  margin: 10px 10px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

.home-box .btn-container .btn:hover {
	background-color: var(--btn-text) ;
	color: var(--btn-background);
	font-size: 26px;
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
}

/* Settings for the question sections ------------------------------------------------------------------------- */
.quiz-box .question-number {
	font-size: 22px;
	font-family: var(--title-font);
	text-align: left;
	text-decoration: underline;
	color: #FDEE73;
	text-shadow: 1px 1px hsl(360, 91%, 36%);
	border-bottom: 1px solid black;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
}

.quiz-box .question-text {
	color: black; 
	/* text-shadow: 2px 2px black; */
	text-align: left;
	font-size: 28px;
	font-weight: 600;
	padding: 10px;
}

.quiz-box .option-container {
	text-align: left;
	font-size: 24px;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
	padding-bottom: 15px;
	line-height: 30px;
}

.quiz-box .option-container .option {
background: skyblue;
padding: 10px;
line-height: 22px;
border-radius: 5px;
margin-bottom: 5px;
cursor: pointer;
}

.quiz-box .option-container .option:hover {
	background-color: black;
	color: skyblue;
}

.quiz-box .next-question-btn {
	text-align: left;
	margin: 0;
	padding-top: 10px;
}

.quiz-box .next-question-btn .btn:hover {
	background-color: var(--btn-text) ;
	color: var(--btn-background);
	font-size: 26px;
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
}

/* Media responsive settings for mobile and handheld devices ---------------------------------------------------------- */
@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
