/* Root settings for multiple uses within entire web application -------------------------------------------------- */
:root {
	--title-font: 'MedievalSharp', cursive;
	--text-font: 'Almendra', serif;
	--btn-text: hsl(0, 0%, 100%);
	--btn-background: hsl(360, 91%, 36%);
}

/* Home page and foundational settings for entire web application ----------------------------------------------------------*/
body {
	margin: 0;
	font-size: 22px;
	background-color: skyblue;
	/* display: flex;
	padding: 0;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center; */
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

.custom-box{
	max-width: 700px;
	background-color: #966919;
	margin: 40px auto;
	padding: 15px 40px 15px 40px;
	border-radius: 10%;
	font-family: var(--text-font);
	color: black;
	font-weight: 600;
	border-color: beige;
	border-style: double;
	border-width: 25px;
	box-shadow: 0 0 10px 2px;
}
.custom-box::before,
.custom-box::after{
	content: '';
	clear: both;
	display: table;
}

.custom-box.hide {
	display: none;
}

h1,
h2,
h3,
h4 {
	font-family: var(--title-font);
	text-align: center;
	text-decoration: underline;
	padding-bottom: 10px;
	color: #FDEE73;
	text-shadow: 2px 2px #ff0000;
}

/* .home-box .top-p {
	text-indent: center;
	padding-bottom: 10px;
} */

.home-box .instructions {
	padding-top: 15px;
}

p.wizard {
	text-align: center;
	margin: 8px;
	border-bottom: 1px solid black;
	padding-bottom: 15px;
	line-height: 30px;
}

.btn-container {
text-align: center;
margin: 0;
}

/* .home-box .btn {
	text-align: center;
} */

.btn {
	border: none;
  background-color: var(--btn-background);
  border-radius: 25px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px; */
  color: var(--btn-text);
  /* display: inline-block; */
  font-size: 22px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 20px;
  margin: 10px 10px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
	border: 2px solid black;
}

.home-box .btn-container .btn:hover {
	background-color: var(--btn-text) ;
	color: var(--btn-background);
	font-size: 26px;
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
}

/* Settings for the question sections ------------------------------------------------------------------------- */
.quiz-box {
	width: 800px;
	max-width: 80%;
	box-shadow: 0 0 10px 2px;
}

/* Progress tracker within the game. */

.quiz-box .question-number,
.quiz-box .question-text,
.quiz-box .next-question-btn,
.quiz-box .option-container, {
	width: 100%;
	float: left;
}


.quiz-box .question-number {
	font-size: 26px;
	font-family: var(--title-font);
	font-weight: bold;
	text-align: left;
	text-decoration: underline;
	color: #FDEE73;
	text-shadow: 2px 2px hsl(360, 91%, 36%);
	border-bottom: 1px solid black;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
	font-weight: 400px;
}

/* Question in the middle of the page */
.quiz-box .question-text {
	color: black; 
	/* text-shadow: 2px 2px black; */
	text-align: left;
	font-size: 28px;
	font-weight: 600;
	padding-top: 10px;
}

/* List of four possible answer choices for the player to choose from. */
.quiz-box .option-container {
	text-align: left;
	font-size: 24px;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
	padding-bottom: 15px;
	line-height: 30px;
}

.quiz-box .option-container .option {
background: skyblue;
padding: 10px;
line-height: 22px;
border-radius: 15px;
border-style: solid;
border-width: 5px;
margin: 10px;
cursor: pointer;
/* animation: fadeIn 1.0s ease forwards; */
position: relative;
overflow: hidden;
}

.quiz-box .option-container .option.correct:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: green;
	/* color: white; */
	z-index: -1;
	animation: slideInLeft .10s ease forwards;
}

@keyframes slideInLeft {
	0%{
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0%);
}

}

.quiz-box .option-container .option.correct {
	color:hsl(0, 0%, 100%);
}

.quiz-box .option-container .option.wrong {

}

.quiz-box .option-container .option:hover {
	background-color: black;
	color: skyblue;
}

.quiz-box .option-container.option.correct {
	color: black;
	background-color: green;
}

.quiz-box .option-container.option.wrong {
	color: black;
	background-color: red;
}

/* Following adds correctly answered questions below Next Question button, not required. */
/* .answers-indicator div{
	height: 30px;
	width: 30px;
	display: inline-block;
	background-color: #FDEE73;
	border-radius: 50%;
	margin-left: 3px;
	margin-top: 10px;
} */

/* Next Question Button at the bottom left of the card. */
.quiz-box .next-question-btn {
	text-align: right;
	margin: 0;
	padding-top: 10px;
}

.quiz-box .next-question-btn .btn:hover {
	background-color: var(--btn-text) ;
	color: var(--btn-background);
	font-size: 26px;
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
}

/* Quiz Result table with option to add initials (or leave blank), and restart game or go to Home page. */
.result-box {
	text-align: center;
}

.result-box.hide{
	display: none;
}

/* .result-box h1 {
} */

.result-box table {
	width: 100%;
	border-collapse: collapse;
	margin: 30px 0;
	background:hsl(0, 0%, 100%)
}

.result-box table td {
	border: 5px solid black;
	padding: 8px 15px;
	font-weight: 500;
	text-align: left;
	font-size: 24px;
}

/* .result-box .btn {
} */

.result-box .end {
	text-align: center;
	justify-content: space-between;
	margin: 0;
	padding-top: 10px;
}

.result-box .end .btn:hover {
	background-color: var(--btn-text) ;
	color: var(--btn-background);
	font-size: 26px;
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
}


/* Media responsive settings for mobile and handheld devices ---------------------------------------------------------- */
@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
